---
import Layout from '~/layouts/layout.astro';
import { Image } from 'astro:assets';
import logo from '~/assets/img/logo.png';
import { css } from 'styled-system/css';

export const description =
  'Byte Sized Game is a collection of casual mini-games for quick fun in your browser. Built with a modern tech stack of React and Astro, this project demonstrates interactive front-end skills.';

const pages = Object.entries<{ url: string; title: string; publish: boolean }>(
  import.meta.glob('./game/*.astro', { eager: true })
)
  .map(([path, page]) => {
    const { url, title, publish } = page;

    return {
      path,
      url,
      title,
      publish,
    };
  })
  .filter((page) => page.publish);
---

<Layout description={description}>
  <div
    class={css({
      container: 'content',
      containerType: 'size',
    })}
  >
    <div
      class={css({
        maxW: '1080px',
        boxSizing: 'border-box',
        display: 'grid',
        gap: 'clamp(24px, 3cqw, 64px)',
        mx: 'auto',
        px: 'clamp(16px, 2cqw, 48px)',
        py: 'clamp(24px, 3cqw, 64px)',
        '@container (width >= 640px)': {},
      })}
    >
      <div
        class={css({
          display: 'flex',
          alignItems: 'center',
          justifyContent: 'center',
        })}
      >
        <h1
          class={css({
            w: '80%',
            maxW: '480px',
          })}
        >
          <Image src={logo} alt="Byte Sized Games" />
        </h1>
      </div>
      <div>
        {
          pages.map((page) => (
            <a
              class={css({
                display: 'block',
              })}
              href={page.url}
            >
              {page.title}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</Layout>
