---
import Layout from '~/layouts/layout.astro';

export const description =
  'Byte Sized Game is a collection of casual mini-games for quick fun in your browser. Built with a modern tech stack of React and Astro, this project demonstrates interactive front-end skills.';

const pages = Object.entries<{ url: string; title: string; publish: boolean }>(
  import.meta.glob('./game/*.astro', { eager: true })
)
  .map(([path, page]) => {
    const { url, title, publish } = page;

    return {
      path,
      url,
      title,
      publish,
    };
  })
  .filter((page) => page.publish);
---

<Layout description={description}>
  <h1>Byte Sized Games</h1>
  <ul>
    {
      pages.map((page) => (
        <li>
          <a href={page.url}>{page.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
