---
import { Image } from 'astro:assets';
import { css } from 'styled-system/css';
import logo from '~/assets/img/logo.png';
import Layout from '~/layouts/layout.astro';
import { GithubLink } from '~/components/home/github-link';

export const description =
  'Byte Sized Game is a collection of casual mini-games for quick fun in your browser. Built with a modern tech stack of React and Astro, this project demonstrates interactive front-end skills.';

const pages = Object.entries<{ url: string; title: string; publish: boolean }>(
  import.meta.glob('./game/*.astro', { eager: true })
)
  .map(([path, page]) => {
    const { url, title, publish } = page;

    return {
      path,
      url,
      title,
      publish,
    };
  })
  .filter((page) => page.publish);
---

<Layout description={description}>
  <div
    class={css({
      maxW: '1080px',
      mx: 'auto',
      container: 'content',
      containerType: 'size',
    })}
  >
    <div
      class={css({
        boxSizing: 'border-box',
        display: 'grid',
        gap: 'clamp(24px, 6cqw, 64px)',
        px: 'clamp(16px, 4cqw, 48px)',
        py: 'clamp(24px, 6cqw, 64px)',
      })}
    >
      <div
        class={css({
          display: 'flex',
          alignItems: 'center',
          justifyContent: 'center',
          flexDirection: 'column',
          gap: 'clamp(12px, 3cqw, 32px)',
        })}
      >
        <h1
          class={css({
            w: '80%',
            maxW: '480px',
          })}
        >
          <Image src={logo} alt="Byte Sized Games" />
        </h1>
        <div>
          <GithubLink />
        </div>
      </div>
      <div
        class={css({
          display: 'grid',
          gap: '16px',
          gridTemplateColumns: '1fr 1fr',
        })}
      >
        {
          pages.map((page) => (
            <a
              class={css({
                display: 'block',
                rounded: '8px',
                p: '32px',
                fontSize: 'max(1.2em, 2.4cqw)',
                bgColor: 'bg',
                boxShadow: '0 2px 10px 0 #80aeae',
              })}
              href={page.url}
            >
              {page.title}
            </a>
          ))
        }
      </div>
    </div>
  </div>
</Layout>
