---
import Layout from '~/layouts/Layout.astro';
import { ConcentrationContent } from '~/components/concentration/concentration-content';
---

<Layout>
  <h1>Concentration</h1>
  <ConcentrationContent client:visible />
</Layout>
