---
import { css } from 'styled-system/css';
---

<div
  class={css({
    container: 'content',
    containerType: 'size',
    minH: '100svh',
    display: 'flex',
    flexDirection: 'column',
    justifyContent: 'center',
    alignItems: 'center',
  })}
>
  <div
    class={css({
      container: 'content',
      containerType: 'size',
      w: '100%',
      maxW: '640px',
      h: '100svh',
      pos: 'relative',
      overflow: 'hidden',
      bgColor: '#F8F9FA',
      '@container (width >= 540px)': {
        h: 'auto',
        maxH: '960px',
        rounded: '8px',
        aspectRatio: '3 / 4',
        boxShadow: '0 2px 200px 0 #80aeae',
      },
    })}
  >
    <slot />
  </div>
</div>
