---
import '~/index.css';

type Props = {
  title?: string;
  description?: string;
};

const websiteTitle = 'Byte Sized Games';
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | ${websiteTitle}` : websiteTitle}</title>
    <meta name="description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  body {
    font-family: 'Fredoka', sans-serif;
    font-optical-sizing: auto;
    color: #024059;
    background: linear-gradient(160deg, #90fff5, #ff9ee2 80%);
  }
</style>
