---
type Props = {
  title?: string;
  description?: string;
};

const websiteTitle = 'Byte Sized Games';
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/global.css">
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | ${websiteTitle}` : websiteTitle}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <slot />
  </body>
</html>
