---
import { css } from 'styled-system/css';
import '~/index.css';

type Props = {
  title?: string;
  description?: string;
};

const websiteTitle = 'Byte Sized Games';
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | ${websiteTitle}` : websiteTitle}</title>
    <meta name="description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      class={css({
        container: 'content',
        containerType: 'size',
        h: '100dvh',
        display: 'grid',
        placeItems: 'center',
        color: '#024059',
        bgColor: '#c0dfdf',
      })}
    >
      <div
        class={css({
          container: 'content',
          containerType: 'size',
          w: '100%',
          maxW: '640px',
          h: '100svh',
          maxH: '960px',
          pos: 'relative',
          overflow: 'hidden',
          bgColor: '#F8F9FA',
          '@container (width >= 540px)': {
            h: 'auto',
            rounded: '8px',
            aspectRatio: '3 / 4',
            boxShadow: '2px 2px 0 1px #80aeae',
          },
        })}
      >
        <slot />
      </div>
    </div>
  </body>
</html>

<style>
  body {
    font-family: 'Fredoka', sans-serif;
    font-optical-sizing: auto;
  }
</style>
